
# General
export NAME="Sven Haardiek"
export EMAIL="sven@haardiek.de"
export EDITOR="vi"
export VISUAL="vi"
export BROWSER="firefox"

# Go stuff
export GOPATH=$HOME/devel/go
export PATH=$PATH:$GOPATH/bin

# debian stuff
export DEBFULLNAME="$NAME"
export DEBEMAIL="$EMAIL"
export GOPATH=/home/sven/devel/go

# Git stuff
export GIT_AUTHOR_NAME="$NAME"
export GIT_AUTOR_EMAIL="$EMAIL"
export GIT_COMMITTER_NAME"shaardie"

# HG stuff
export HGUSER="$NAME"
export HGEMAIL="$EMAIL"
